<div id="carousel1" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
        <li data-target="#carousel1" data-slide-to="1" class=""> </li>
        <li data-target="#carousel1" data-slide-to="2" class=""> </li>
        <li data-target="#carousel1" data-slide-to="3" class=""> </li>
        <li data-target="#carousel1" data-slide-to="4" class=""> </li>
        <li data-target="#carousel1" data-slide-to="5" class=""> </li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Images/Slider/11.jpg" alt="thumb">
            <div class="carousel-caption"> Quảng cáo 1 </div>
        </div>
    
    </div>
    <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon- prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a>
</div>

